*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: #222;
}
.container{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg , #00feba,#5b548a);
    color: #fff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
}
#serch{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#serch input{
    border: 0;
    outline: 0;
    background: #ebffce;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#serch button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    background: #ebffce;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather-icon{
    margin-top: 30px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 40px;
}